<include file="public@headers" />
</head>
<body>
<div class="wrap js-check-wrap" id="addQyq">
    <div class="row" style="height: 300px;margin-top: 30px">
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" class="form-control"  v-model="fromUserId" placeholder="请输入新的UserId" aria-describedby="basic-addon2">
                <span class="input-group-addon" >新的的UserId</span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control"  v-model="toUserId" placeholder="请输入旧的UserId" aria-describedby="basic-addon2">
                <span class="input-group-addon">旧的UserId</span>
            </div>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" @click="add_qyq()">
                更换绑定
            </button>
        </div>
    </div>
</div>
</div>
<script type="text/javascript">
    var app = new Vue({
        el: '#addQyq',
        data: {
            groupId: '',
            fromUserId: '',
            toUserId: '',

        },
        created () {

        },
        methods: {
            add_qyq () {
                let vm = this;
                let fromUserId = vm.fromUserId;
                let toUserId = vm.toUserId;
                layer.confirm('您确定要更换绑定吗？', {
                    btn: ['确定','取消'] //按钮
                }, function() {
                    axios
                        .post("/api/qyq/up_user_bind",{fromUserId:fromUserId,toUserId:toUserId})
                        .then(function (response) {
                            if(response.data.code==0) {
                                layer.msg(response.data.message,{icon:1,time:2000},function (){
                                    layer.closeAll('dialog');
                                });
                            }else{
                                layer.msg(response.data.message);
                            }

                        })
                        .catch(function (error) { // 请求失败处理
                            console.log(error);
                        });
                })


            },
        },
        mounted:function(){
        }
    })
</script>
</body>
</html>
